<app-header></app-header>
<div class="mods" *ngIf="_des">
    <strong>USERS IN APP:</strong>
    <ul>
        <li *ngFor="let us of userMatch" class="lis">
           <div> <strong class="text-info">UID:</strong>  {{ us.name_user }}</div>
           <br>
           <div class="d-flex justify-content-between" >
               <strong class="text-info">UCOD:</strong> {{ us.cod_user }}
               <div class="b text-warning p-2 bg-dark" style="cursor: pointer;" (click)="match(us.cod_user)"> MATCH </div> 
           </div>
        </li>
    </ul>

</div>

<div class="mods" *ngIf="_SHA">
    <strong>Codec SHA send:</strong>
    <ul>
        <li *ngFor="let SHA of gShar" class="lis">
           <div> <strong class="text-info">SHA:</strong>  {{ SHA.codec_shared }}</div>
           <br>
           <div class="d-flex justify-content-between" >
               <strong class="text-info">UID:</strong> {{ SHA.codec_user }}
               <!-- <div class="b text-warning p-2 bg-dark" style="cursor: pointer;" (click)="match(us.cod_user)"> MATCH </div>  -->
           </div>
        </li>
    </ul>

</div>


<div class="cont container-fluid d-flex ">

    <div class="w-75">
        <textarea class="form-control" rows="29" [(ngModel)]="_DATA" id="textarea1" autofocus style="outline: none !important;"
                  (keydown)="triggerFunction($event)"></textarea>
                  <!-- (keyup.enter)="detectSave(_DATA)" -->
    </div>    

    <div class="cont w-25 p-3" id="panelHistory">
        <div class="container-fluid p-2 text-success"> {{msjDel}} </div>
        <ul class="p-0" style="list-style: none;">
            <li class="p-0" *ngFor=" let x of arrNotesGet " (dblclick)="changeNotesFunc(x.descrip_notes, x.id, x.code_notes)" style="color: yellow; border-bottom: solid 0.5px yellow;">
                <div>
                    <span class="notes text-info" style="font-size: 7pt;">
                        <strong>CODEC MATCH:</strong> {{x.cod_type_notes || '-NO MATCH-' }}
                    </span><br>
                    <span class="notes text-primary" style="font-size: 7pt;">
                        <strong>TAG:</strong> {{x.code_notes}}
                    </span>
                </div>
                {{ x.title_notas }} <br>
                <div class="d-flex justify-content-between">
                    <span class="notes text-primary" > {{x.fecha_notes | date: 'medium'}} </span>
                    <span class="notes text-danger" style="cursor: pointer;" (click)="delNotes(x.id)" > DELETE</span>
                </div>
            </li>
        </ul>
    </div>

</div>







