/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { 
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(14, 31, 14);
}


.cont {
    height: 85%;
}

input {
    color: yellowgreen !important;
}


label{
    color: yellowgreen !important;
}

*{font-family: 'Roboto Mono', monospace;}

textarea {
    font-family: 'Roboto Mono', monospace;
    color: yellowgreen !important;
    background-color: rgb(14, 31, 14) !important;
    border: none !important;
    font-size: 10pt !important;
}



*::-webkit-scrollbar {
    background-color: rgb(40, 54, 37);
    border-radius: 10px;
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(125, 180, 70);
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(4, 84, 40, 0.8);
    border: solid 1px rgb(141, 255, 34);
    border-style: groove;
}